!!! 5
%html
  /
    This site was handcrafted by Chad using node.js, express, haml, less.js 
    and the following image editing software - opacity, pixelmator & inkscape.
  /
    Sea life images were sourced from Kunstformen der Natur von Ernst Haeckel, 
    1899
    
  / 
    Source code at https://github.com/underbluewaters/chadandjen.net
  %head
    %title Jennifer Ahn and Chad Burt are getting married on October 1st, 2011
    %link{rel: "stylesheet", type: "text/css", href: "http://fonts.googleapis.com/css?family=Dancing+Script:regular"}
    %link{rel: "stylesheet", type: "text/css", href: static + "static/style.css"}
    %link{rel: "stylesheet", type: "text/css", href: static + "static/colorbox/colorbox.css"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23676653-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    #cloth
      %img{src: static + 'static/jelly.jpg', width: 885, height: 1224}.jelly
      %img{src: static + 'static/brittle.png', width: 357, height: 409}.brittle
      %img{src: static + 'static/backgrounds/envelope_top.png', width: 800, height: 75}.envelope_top
      #envelope
        %img{src: static + 'static/stamp.jpg', width: 350, height: 300}.stamp
        .portrait
          %img{src: static + 'static/photos/portrait.jpg', width: 640, height: 511}
          %p.photo_text engagement photos
        %br.clear
        %ul.photos
          - each photo in photos
            %li
              %a{href: photo, rel: 'gallery'}.photo_link
      #paper
        %img{src: static + 'static/backgrounds/paper-top.png', width: 779, height: 36}.paper_top
        %h2 Please join us!
        .jen_aus
          %img{src: static + 'static/jen.jpg', alt: 'Photo of Jen and I in where we met in Australia', width: 180, height: 179}
          %p.aus_text Photo of Jen and I on the bus in Australia
        %p
          After six happy years together we're getting married on October 1st
          at the Santa Barbara Museum of Natural History.
          %br
          %br
          Jen and I first met in 2004
          while studying abroad in Australia. We spent many long field trips 
          together talking on the bus, but were so busy having fun on our 
          adventures that we didn't really start to appreciate each other 
          romantically until we got back home. 
          <em>Though 
          maybe Jen knew something I didn't.</em>
          %br
          %br
          I ran into Jen on campus one day, and despite my seriously unkept 
          college senior look at the time she took me up on an offer to catch 
          up at a party my roommates were throwing for a friend. We went on a 
          date soon after to the zoo and have been inseparable ever since.
        %p
          We'll be using this site to keep you informed about the various 
          details of our wedding like directions, room blocks and registry. 
          After the wedding we'll also post photos and videos that we collect
          from our photographer, photo booth, and you all.
          %hr
          %img{src: static + 'static/boxfish.png', width: 250, height: 90}.boxfish
          %img{src: static + 'static/tz_boxfish.png', width: 169, height: 100}.tz_boxfish
          %br.clear
          %br.clear
        #details
          #left
            %h3 Time & Location
            %p.time 4:30pm, October 1st 2011
            %ul.cal_links
              %li
                %a{href: static + 'static/wedding.ics', target: '_blank'} ical event
              %li
                %a{href: 'http://www.google.com/calendar/event?action=TEMPLATE&text=Jen%20%26%20Chads%20Wedding&dates=20111001T233000Z/20111002T053000Z&details=&location=Santa%20Barbara%20Museum%20of%20Natural%20History&trp=true&sprop=http%3A%2F%2Fchadandjen.net&sprop=name:chadandjen.net', target: '_blank'} add to google calendar
            %p.desc Ceremony, cocktail hour, and dinner reception will all be at the museum
            %a{href: "http://sbnature.org", target: '_blank'}.museum
              %img{src: static + 'static/museum.png', width: 300, height: 83}
            %ul.links
              %li
                %a{target: '_blank', href: 'http://sbnature.org'} website
              %li
                %a{target: '_blank', href: 'http://maps.google.com/maps?q=santa+barbara+natural+history+museum&ie=UTF8&hl=en&hq=natural+history+museum&hnear=Santa+Barbara,+California&ll=34.440602,-119.714606&spn=0.010512,0.008208&z=17&iwloc=A'} map
          #right
            %h3 Wedding Party
            %ul.party
              %li Dessy Tan
              %li Jenny Jung
              %li Vivian Son
              %li Chris Day
              %li Brandon Drezner
              %li Jeff Magbitang
            %h3 Registry
            %p We're registered at the following stores
              %ul
                %li
                  %a{href: 'http://www.williams-sonoma.com/registry/2769481/registry-list.html', target: '_blank'} Williams-Sonoma
                %li
                  %a{href: 'http://www.crateandbarrel.com/Gift-Registry/Guest/View-Registry.aspx?grid=4738320', target: '_blank'} Crate&Barrel
                %li
                  %a{href: 'http://www.amazon.com/gp/registry/registry.html?ie=UTF8&sort=category-wed&type=wedding&id=28U76DD8DMBMS&visitor-view=1', target: '_blank'} Amazon
                %li
                  %a{href: 'https://www.anthropologie.com/anthro/wishlist/wishlist.jsp?_DARGS=/anthro/wishlist/gift_list_search_results_vwr.jsp_A&_DAV=gl84910762&_dynSessConf=-2987596965060235273', target: '_blank'} Anthropologie
            %br.clear
            %h3 Accommodations
            %p
              With the exception of the last hotel on this list, we've found 
              that most hotels in the area offer better prices online than can 
              be negotiated with a room block. We have some suggestions for 
              accommodations below.
              %ul.hotels
                %li
                  %a{href: 'http://www.thepresidiomotel.com/', target: '_blank'}
                    %h4 The Presidio Motel
                  %p
                    This is a modern and trendy motel for our younger guests 
                    within walking distance of downtown State Street. No 
                    minimum night stay on Saturday, two night minimum stay 
                    on Friday.
                  %p
                    159.00 - 179.00
                    %br
                    199.00 - 220.00 on Friday, Summer Rate
                %li
                  %a{href: 'http://www.hotelvirginia.com/', target: '_blank'}
                    %h4 Holiday Inn, Hotel Virginia
                  %p
                    Closest to downtown State Street. Two night minimum stay.
                    %em AAA rate available.
                  %p
                    180.00 - 220.00
                %li
                  %a{href: 'http://www.bestwesternencinalodge.com/', target: '_blank'}
                    %h4 Best Western Encina Lodge and Suites
                  %p
                    Closest to the Natural History Museum. Probably the best 
                    for families looking to save money. Has a nice pool. 
                    Driving distance from downtown. No minimum night stay.
                    %em AAA rate available.
                  %p
                    150.00 - 180.00
                %li
                  %a{href: 'http://www.harborviewinnsb.com/', target: '_blank'}
                    %h4 Harbor View Inn
                  %p
                    Four-diamond hotel downtown across from the beach with a 
                    nice pool and spa. Typically rooms here go from 325.00 - 
                    475.00 per night, but we can get a substantial discount 
                    (28%) if there is enough interest to block 10 or more 
                    rooms. Please&nbsp;
                    %a{href: 'mailto:wedding@underbluewaters.net'} email us
                    &nbsp; with your room preference if
                    interested, otherwise we won't be able to setup the block.
                  %p
                    %ul
                      %li Ocean View Balcony - 306.00
                      %li Deluxe Resort/City View - 288.00
                      %li Partial Ocean View Patio - 270.00
                      %li Non-View Patio/Balcony - 234.00
                %li
                  %p
                    %a{href: 'http://www.vrbo.com/vacation-rentals/usa/california/central-coast/santa-barbara-area/santa-barbara', target: '_blank'}
                      VBRO 
                    &nbsp;also has vacation rentals for groups interested in 
                    staying more than a couple nights, and 
                    %a{href:'http://www.cabbi.com/region/Santa-Barbara', target: '_blank'} Cabbi.com
                    &nbsp;has listings of bed & breakfasts.
              %br.clear              
              %p
                If you have any questions contact us at  
                %a{href: 'mailto:wedding@underbluewaters.net'} wedding@underbluewaters.net
          %br.clear 
    %script{type: "text/javascript", src: "https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"}
    %script{type: "text/javascript", src: static + "static/colorbox/jquery.colorbox-min.js"}
    %script{type: "text/javascript", src: static + "static/main.js"}
